node_modules/
public/bundle.js*
public/bundle.css*
dist/
doc/

osrm/config/*
!osrm/config/*.pbf
!osrm/config/*.lua

data/forwardIndex.json
data/invertedIndex.json

.DS_Store
*.log
*.errlog
tmp*.js
tmp*.json
tmp*.md
