node_modules/
public/bundle.js*
public/bundle.css*
dist/
doc/

data/osrm/*
!data/osrm/*.pbf
!data/osrm/*.lua

data/forwardIndex.json
data/invertedIndex.json

.DS_Store
*.log
*.errlog
tmp*.js
tmp*.json
