$primary   = #273246
$secondary = #F8BD36
$tertiary  = #CECECE

$neutral   = #E0E1E2
$positive  = #30B19C
$negative  = #F17249
$info      = #3599C4
$warning   = #F7A931

$light     = #f4f4f4
$dark      = #333
$faded     = #E8E8E8

$text-color          = lighten(black, 17%)
$background-color    = white

$link-color          = lighten($primary, 25%)
$link-color-active   = $primary

$typography-font-family = 'Lato', sans-serif

@import './vendor/quasar.mat.styl'
